@page
@model BaSys.Admin.Pages.AdminTestModel

@{
    ViewData["Title"] = "Admin test";
}

<h3>@ViewData["Title"]</h3>
<hr />

<ul>
    @foreach (var user in Model.Users)
    {
        <li>@user.UserName</li>
    }
</ul>